<!DOCTYPE html>
<html>
<h1>Welcome to Fashion App</h1>
<body>

<br>
Fashion App is the buying and selling of goods and services over the Internet. It is conducted over computers, tablets, smartphones, and other smart devices.
</body>
</html>

